* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    height: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
    background-color: #F9F9F9;
}

.header {
    height: 700px;
    background-color: #EEEFF1;
    position: relative;
}

.header__logo {
    width: 96px;
    height: 60px;
    background-color: rgba(52, 84, 122, 0.8);
    float: left;
    margin-left: 402px;
    margin-top: 57px;
}

.nav {
    height: 16px;
    margin-right: 371px;
    margin-top: 79px;
    float: right;
}

.nav__list {
    list-style-type: none;
    float: left;
    margin-right: 42px;
}

.nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.nav__link_active {
    color: #34547A;
}

.header__picture {
    clear: both;
    float: left;
    margin-top: 161px;
    margin-left: 503.5px;
}

.header__text {
    width: 541px;
    height: 45px;
    position: absolute;
    top: 257px;
    left: 974px;
}

.header__text-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    margin-bottom: 60px;
}

.header__text-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.header__form-button {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    position: absolute;
    top: 489px;
    left: 975px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.about-me__h3 {
    margin-top: 119px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.about-me__p {
    width: 540px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 0 auto;
}

.my-projects {
    margin-top: 100px;
    height: 250px;
    background-color: #34547A;
}

.my-projects__lists {
    padding-top: 100px;
    margin-left: 405px;
}

.my-projects__list {
    list-style-type: none;
    float: left;
    margin-right: 52.33px;
}

.my-skills {
    float: left;
}

.my-skills__h3 {
    margin-top: 204px;
    margin-left: 386px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
   
}

.my-skills__line1st {
    position: relative;
    left: 386px;
}

.my-skills__line2nd {
    position: relative;
    left: 386px;
    top: 70px;

}

.my-skills__line3rd {
    position: relative;
    left: 386px;
    top: 138px;

}

.my-skills__line-p {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.my-skills__line-long {
    position: absolute;
    top: 45px;
    width: 445px;
    height: 4px;
    background-color: #C4C4C4;
}

.my-skills__line-short {
    position: absolute;
    top: 45px;
    width: 349.36px;
    height: 4px;
    background-color: #34547A;
}

.my-photo {
    float: right;
    margin-top: 122px;
    margin-right: 390px;
    margin-bottom: 121px;
    width: 555px;
    height: 410px;
}

.how-do-i-work {
    clear: both;
    background-color: #EEEFF1;;
}

.how-do-i-work__h3 {
    padding-top: 100px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.how-do-i-work__p {
    width: 540px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 0 auto;
}

.how-do-i-work__video {
    margin: 57px 405px 100px; 
}

.pictures {
    margin-top: 28px;
}

.pictures__odd, .pictures__even {
    float: left;
}


.pictures__mute {
    width: 480px;
    height: 480px;
    position: relative;
    float: left;
}

.pictures__mute-pic {
    display: block;
    position: absolute;
}

.pictures__mute-veil {
    width: 480px;
    height: 480px;
    background-color: rgba(52, 84, 122, 0.8);
    position: absolute;
}

.pictures__mute-view {
    position: absolute;
    top: 211px;
    left: 190px;
}

.Microsoft {
    margin: 72px 375px 100px 405px;
}

.Microsoft__list {
    width: 255px;
    height: 120px;
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

.feedback {
    background-color: #EEEFF1;
}

.feedback__h3 {
    padding-top: 100px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.feedback__p {
    width: 540px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 0px auto 65px auto;
}

.feedback__forms {
    width: 540px;
    margin: 0 auto;
}

.feedback__forms-name {
    width: 255px;
    height: 50px;
    margin-right: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    border: 0px;
}

.feedback__forms-email {
    width: 255px;
    height: 50px;
    padding-left: 20px;
    box-sizing: border-box;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    border: 0px;
}

.feedback__forms-message {
    width: 540px;
    height: 212px;
    margin-top: 20px;
    padding-top: 17px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    border: 0px;
}

.feedback__forms-send {
    width: 190px;
    height: 55px;
    margin: 50px 175px 100px 175px;
    background: #34547A;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer {
    height: 151px;
    background-color: #34547A;
}

.footer__text {
    float: left;
    padding-top: 50px;
    padding-left: 406px;
}

.footer__text-h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer__text-p {
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer__socialNetwork {
    float: right;
    margin-right: 367px;
    margin-top: 64.59px;
}

.footer__socialNetwork-vk {
    margin-right: 22px;
}